<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DRA.RGC</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

</head>

<body class="container  ">
    <script type="module" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!--Área de Fotos-->
    <header>
        <!--    
            <div class="bg-info-subtle text-black" style="text-align: center; height: 1.5cm; "  >
                Rachel Cardoso - Reabilitação Oral e Estética 
            </div>
        -->

        <div class="bg-dark" style="text-align: right;">
            <label for="">Área do Paciente:</label>
            <button class="btn btn-outline-success btn-sm">Login</button>
            <a href="{% url 'login' %}">Login</a>
            <button class="btn btn-outline-primary btn-sm">Cadastro para Acesso </button>
            <button class="btn btn-outline-danger btn-sm">Esqueci a Senha</button>

        </div>
    </header>

    <!--Área de Fotos-->

    <div style="padding-top: 35px;">

        <!--Linha 1 Coluna 1-->
        <div class="bg-dark-subtle" style="padding-left:78% ;">
             
            <div class="card" style="text-align: center; width: 18rem;">
                <img src="{% static 'img/Clinica/Dra Rachel.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    
                    <h5 class="card-title">Rachel Cardoso</h5>
                    <p class="card-text">Reabilitação Oral e Estética</p>
                    <a href="https://www.instagram.com/rachelgcardoso/" class="btn btn-primary">Instagram</a>
                    <a href="https://api.whatsapp.com/send?phone=5584999003225"
                    class="btn btn-success">WattsApp</a>
                    
                    
                </div>
            </div>
            
        </div>
        <div style="padding-top:50px ;"></div>

            <table>
                <tr style="text-align: center;">
                    <!--
                        
                        <th style="width:10cm">
                            <div class="card" style="width: 18rem;">
                                <img src="{% static 'img/Clinica/Dra Rachel.png' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    
                                    <h5 class="card-title">Rachel Cardoso</h5>
                                    <p class="card-text">Especialista | Implante Dentário</p>
                                    <a href="https://www.instagram.com/rachelgcardoso/" class="btn btn-primary">Instagram</a>
                                    <a href="https://api.whatsapp.com/send?phone=5584999003225"
                                    class="btn btn-success">WattsApp</a>
                                    
                                
                                </div>
                            </div>
                        </th>
                        
                    -->
                    <th>
                        <div class="card bg-dark-subtle" style="width: 18rem; ">
                            
                            <div class="card-body">
                                <h5 class="card-title ">Estética</h5>
                            </div>
                            <img src="{% static 'img/Clinica/antes_depois.png' %}" class=" card-img-top img-fluid"
                            style="height: 8.5cm;"  alt=" ...">
                        </div>
                    </th>
                    <th style="width:100px;">
                        
                    </th>
                    <th>
                        <div class="card bg-dark-subtle" style="width: 18rem; ">
                            
                            <div class="card-body">
                                <h5 class="card-title ">Manutenção</h5>
                            </div>
                            <img src="{% static 'img/Clinica/prevencao.png' %}" class="card-img-top img-fluid"
                            style="height: 8.5cm; " alt=" ...">
                        </div>
                    </th>
                    <th style="width:100px;">
                        
                    </th>
                    <th>
                        <div class="card bg-dark-subtle" style="width: 18rem; ">
                            
                            <div class="card-body">
                                <h5 class="card-title">Prevenção</h5>
                            </div>
                            <img src="{% static 'img/Clinica/Bocão.png' %}" class="card-img-top img-fluid"
                            style="height: 8.5cm;" alt="...">
                        </div>
                    </th>
                    <th style="width:100px;">
                        
                    </th>
                    <th>
                        <div class="card bg-dark-subtle" style="width: 18rem; ">
                            
                            <div class="card-body">
                                <h5 class="card-title">Prevenção</h5>
                            </div>
                            <img src="{% static 'img/Clinica/Bocão.png' %}" class="card-img-top img-fluid"
                            style="height: 8.5cm;" alt="...">
                        </div>
                    </th>
                </tr>
                
            </table>
        </div>
        </div>
    <!--Linha 1 Coluna 5-->
    <!--

              <div class="col coluna_padrao">
                  <br>
                  <div id="carouselExampleAutoplaying" class="carousel slide fotos w-50 " data-bs-ride="carousel" >
                      <div class="carousel-inner " style="padding-top: 7.5%;padding-left: 7.5%;padding-right: 7.5%">
                          <div class="carousel-item active ">
                              <img src="{% static 'img/Clinica/anatomia-dente.jpg' %}" class="d-block w-100 fotos  ;" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'img/Clinica/DEN_identifying_the_teeth_pt.gif' %}" class="d-block w-75 fotos" alt="...">
                            </div>
                            <div class="carousel-item">
                                
                                <img src="{% static 'img/dente.jpg' %}" class="d-block w-75 fotos" alt="...">
                            </div>
                            
                            <div class="carousel-item">
                                <img src="{% static 'img/Clinica/dente_espelhinho.jpg' %}" class="d-block w-75 fotos" alt="...">
                            </div>
                            
                            <div class="carousel-item">
                                <img src="{% static 'img/Clinica/material_odontologico.jpg' %}" class="d-block w-75 fotos" alt="...">
                            </div>
                            
                            <div class="carousel-item">
                                <img src="{% static 'img/Clinica/facetas.jpg' %}" class="d-block w-75 fotos" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        
                        
                    </div>
                </div>
                <br>
            -->
    <!-- Servicos-->



    <br>
    <!-- Localizacao-->

    <!-- Mapa Google-->
    <div class="col fs-1" style="text-align: center;">

        Como Chegar



        <div class="map-responsive" style="border-radius: 2.5%">

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248.08821222682872!2d-35.19852457506212!3d-5.797424934847792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7b3001a02924683%3A0xadbcd8197bf4573e!2sR.%20%C3%82ngelo%20Varela%2C%201029%20-%20Tirol%2C%20Natal%20-%20RN%2C%2059015-010!5e0!3m2!1spt-BR!2sbr!4v1692346075102!5m2!1spt-BR!2sbr"
                width="100%" height="900" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>

    </div>
    </div>



    <!--Fim Área de Fotos-->
    <footer class=" container bg-dark text-white" style="text-align: center; margin-bottom: 0cm; margin-top: 50px;">
        <p>Natal/RN | Tirol | Rua Angelo Varela | (84.9.8888.8888)</p>
    </footer>

    <script type="module" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>