{% extends "base.html" %}
{% load static %}

{% block conteudo %}
    <h3 style="text-align: center;">Seleção de Dente e Procedimentos</h3>

    <div class="row row-1-cols-16" style="width: 100%;">
        <div class="col" >Paciente: <h4>{{ paciente.nome }}</h4></div>
        <h3>{{ informacao1}} </h3>
    </div>

    <div class="container text-center border-top border-bottom border-inner border-success">
        <form method="POST" action="{% url 'cadastrar_item' %}">
            {% csrf_token %}
            <div class=" display row row-1-cols-4">
                <div class="col-1" style="width:20%">
                    <img style="max-width: 100px;" src="{{ dente.imagem_dente.url }}">

                </div>
                 
                <div class="col-2" style="width:20%">
                    <input class="btn" type="text" name="dente" value="{{ dente.nome_dente }}">
                    <input class="btn" type="text" name="paciente" value="{{ paciente.nome }}">

                </div>
                <div class="col-3 display" style="width:15%;margin-left:10px; text-align: left;">
                        
                        {% for procedimento in procedimentos %}
                        <input type="checkbox" name="procedimento" value="{{ procedimento.id }}">
                        {{ procedimento.descricao }}
                        {{ procedimento.valor_procedimento}}<br>
                        {% endfor %}
                     
                </div>
                <div class="col-4" style="width:20%; ">
                    <div style="width:15%;margin-top:50%; text-align: left;">

                        <input  class="btn btn-sm btn-dark" type="submit" value="Salvar">
                    </div>
                </div>
            </div>
                
        </form>
    </div>
{% endblock conteudo %}
