{% extends "base.html" %}
{% load static %}


{% block conteudo %}
<!--/////////////////////////////////////////////////////////////-->
<form   method="post">
    {% csrf_token %}
    <div  class="container  border border-success"  >
        <div class="fs-6">
            <h3>Orçamento: {{ paciente.nome }}</h3>
        </div>
    </div>

 
<!--/////////////////////////////////////////////////////////////-->


 
     
    <div  class="container  border border-success" style="margin-top: 3rem;" >
        <div class="fs-6">
            <h3 class = "center-tex"t>Cavidade Oral Completa</h3>
            <ul>
                {% for procedimento in procedimentos %}
                <li>
                    <input type="checkbox" name="procedimentos" value="{{ procedimento.id }}">
                    {{ procedimento.descricao }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

     
    <div  class="container  border border-success" style="margin-top: 3rem;" >
        <div class="fs-6">
            <h3>Arco Superior</h3>
            <div  class="container text-center border-top   border-inner border-success" >
                <div class="row row-2-cols-16" style="width: 100%;">
                    {% for foto in dentes_fotos %}   
                    <div class="col">
                        <a href="{% url 'criar_orcamento' paciente_id=paciente.id dente_id=foto.id %}">
                            {% comment %}
                            {{foto.id}}
                            {% endcomment %}
                            <img style="max-width: 100px;" src="{{ foto.imagem_dente.url }}" >
                        </a>
                    </div> 
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
    <div  class="container  border border-success" style="margin-top: 3rem;" >
        <div class="fs-6">
            <h3>Arco Inferior</h3>
            <div  class="container text-center border-top   border-inner border-success" >
                <div class="row row-2-cols-16" style="width: 100%;">
                    {% for foto in dentes_fotos %}   
                    <div class="col">
                        <a href="{% url 'criar_orcamento' paciente_id=paciente.id dente_id=foto.id %}">
                            {% comment %}
                            {{foto.id}}
                            {% endcomment %}
                            <img style="max-width: 100px;" src="{{ foto.imagem_dente.url }}" >
                        </a>
                    </div> 
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</form>
<hr>
<input type="submit" value="Gerar orçamento">

{% endblock conteudo %}
