body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 14px;
}

/* Estilos para tablets */
@media (min-width: 600px) {
    body {
        font-size: 16px;
    }
}

/* Estilos para desktops */
@media (min-width: 992px) {
    body {
        font-size: 18px;
    }
}

/* Estilos para grandes desktops */
@media (min-width: 1200px) {
    body {
        font-size: 20px;
    }
}