{% extends "base.html" %}
{% block conteudo %}
{% load static %}
 
    
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {% for campo in form.visible_fields %}

                <div  style="border: 0cm;">
                    <label   for="{{ campo.id_for_label }}"> {{ campo.label }} </label>
                     
                    <label class="form-control">  {{ campo }}</label>
                </div>
        {% endfor %}

        <div>
            <br>
            <button class="form-control btn btn-success">Logar</button>
        </div>

    </form>
    {% include 'footer.html' %}
{% endblock conteudo %} 