{% extends "base.html" %}
{% block conteudo %}
 
    <title>Relatório de Orçamento</title>
</head>
<body>
    <h1>Relatório de Pacientes</h1>
     

    <h2>Itens do Orçamento</h2>
    <ul >
       
        {% for item in pacientes %}
             
            <li class="table table-striped table-hover ">
                {{ item.id }}
                {{ item.nome }}
                <a href="{% url 'criar_orcamento' item.nome %}" class="btn btn-success btn-sm">
                 
            </li>
        {% endfor %}
    </ul>
     
</body>
</html>
{% endblock conteudo %}