{% extends "base.html" %}
{% block conteudo %}
<div style="width: 500px;margin: auto; padding:auto;">
    <hr>
    <div class=" fs-2" style="text-align: center;border-radius: 10px;">
        {% if user.is_authenticated %}
        <p>Olá {{ user.username }}. Fique à vontade!</p>
        {% else %}
        <p>Welcome, new user. Please log in.</p>
        {% endif %}
    </div>
    <div style="text-align: center; margin-top: 10px">
        <div class="bg-body-tertiary  form-control" style="width:100%";>
            
            <div style="margin-bottom: 25px">
                <label for=""class = "fw-bold fs-2 "  >Configurações</label>
            </div>

            <div style="margin-bottom: 25px">
                <a href="{% url 'listar_proprietarios' %}" class=" form-control  btn btn-lg btn-success" for="">Proprietários Cadastrados</a>
            </div>
            
            <div style="margin-bottom: 25px">
                <a href="{% url 'cadastrar_paciente' %}" class=" form-control  btn btn-lg btn-success" for="">Cadastrar Novo Paciente</a>
            </div> 
            
            <div style="margin-bottom: 25px">
                <a href="{% url 'listar_dados' %}" class=" form-control  btn btn-lg btn-success" for="">Pacientes Cadastrados</a>
            </div> 

            <div style="margin-bottom: 25px">
                <a href="{% url 'inserir_fotos_dentes' %}" class=" form-control  btn btn-lg btn-success" for="">Cadastrar Fotos Dentes</a>
            </div> 
            
            <div style="margin-bottom:25px">
                <label class=" form-control  btn btn-lg btn-success" for="">Agendamento</label>
            </div>
            
            <div style="margin-bottom: 25px">
                <label class="form-control btn btn-lg btn-success" for="">Orçamento</label>
            </div>
            
            <div style="margin-bottom: 25px">
                <label class=" form-control btn btn-lg btn-success" for="">Complementar Atendimento</label>
            </div>
            
            <div style="margin-bottom: 25px">
                <label class=" form-control btn btn-lg btn-success" for="">Editar Paciente</label>
            </div> 
            
            <div style="margin-bottom: 25px">
                <label class="form-control btn btn-lg btn-success" for="">Novo Profissional</label>
            </div>    
            
            <div style="margin-bottom: 25px">
                <label class="form-control btn btn-lg btn-success" for="">Relatórios</label>
            </div> 
        </div>
    </div>
    <div style="margin-top: 10px">
        <a href="{% url 'Clinica' %}" class="form-control btn btn-lg btn-secondary">Sair</a>
    </div>
</div>
    {% endblock conteudo %} 