{% extends "base.html" %}
{% block conteudo %}
<hr>
<div class="fs-2" style="width: 500px;margin: auto; padding:auto;">
        {% if user.is_authenticated %}
            <p>Olá {{ user.username }}. Fique à vontade!</p>
        {% else %}
            <p>Welcome, new user. Please log in.</p>
        {% endif %}
</div>
<div style = "width:70%; margin: auto;">
    <h1 class="m-4" style="text-align: center;">Cadastro de Paciente</h1>
    <form method="POST"   action="{% url 'cadastrar_paciente' %}">
        {% csrf_token %}

        {{ form.erro }}
        <h3 class="fs-4" style="text-align: left;margin-top: 30px;">Dados Pessoais</h3>  
        <div class="bg-secondary" style="display:table ; justify-content: space-between; border-radius: 10px; padding:30px ;margin-top: 5px;margin-bottom: 15px"> 
            <div class="row g-3">
                <div class="col-sm-6">
                    <input name="nome" type="text" class="form-control" placeholder="Nome" aria-label="Nome">
                </div>
                <div class="col-sm-3">
                    <input name="cpf" type="text" class="form-control" placeholder="CPF" aria-label="CPF">
                </div>
                <div class="col-sm-3">
                    <input name="telefone" type="text" class="form-control" placeholder="Telefone" aria-label="Telefone">
                </div>

                <div class="col-sm-6">
                    <input name="email" type="email" class="form-control" placeholder="E-mail" aria-label="E-mail">
                </div>
                <div class="col-sm-3">
                    <input name = "data_nascimento" type="date" class="form-control" placeholder="Data de Nascimento" aria-label="Data de Nasciemnto">
                </div>
  
            </div>
        </div>

       
          

        <h3 class="fs-4" style="text-align: left;margin-top: 30px;">Profissao</h3>  
        <div class="bg-secondary" style=" border-radius: 10px; padding:30px ;margin-top: 5px;margin-bottom: 15px"> 
            <div class="row g-">
                <div class="col-sm-6">
                    <input name="profissao" type="text" class="form-control" placeholder="Profissao" aria-label="Profissao">
                </div>
            </div>
        </div>

        <h3 class="fs-4" style="text-align: left;margin-top: 30px;">Endereço</h3>  
        <div class="bg-secondary" style="display:table ; justify-content: space-between; border-radius: 10px; padding:30px ;margin-top: 5px;margin-bottom: 15px"> 
            <div class="row g-3">
                <div class="col-sm-2">
                    <input name="cep" type="text" class="form-control" placeholder="CEP" aria-label="CEP">
                </div>
                <div class="col-sm-3">
                    <input name="estado" type="text" class="form-control" placeholder="Estado" aria-label="Estado">
                </div>
                <div class="col-sm-4">
                    <input name="cidade" type="text" class="form-control" placeholder="Cidade" aria-label="Cidade">
                </div>

                <div class="col-sm-3">
                    <input name="bairro" type="text" class="form-control" placeholder="Bairro" aria-label="Bairro">
                </div>
                <div class="col-sm-6">
                    <input name = "rua" type="text" class="form-control" placeholder="Rua" aria-label="Rua">
                </div>
                <div class="col-sm-2">
                    <input name ="numero" type="text" class="form-control" placeholder="Numero" aria-label="Numero">
                </div>
                <div class="col-sm-4">
                    <input name ="complemento" type="text" class="form-control" placeholder="Complemento" aria-label="Complemento">
                </div>
            </div>
        </div>
        <!--    

            <div class="bg-secondary" style="display:table ; justify-content: space-between; border-radius: 10px; padding:30px ;margin-top: 5px;margin-bottom: 15px"> 
                <div class="bg-secondary" style="display:flex ; justify-content: space-between; border-radius: 10px; margin-top: 5px;margin-bottom: 15px"> 
                    <div style="margin-bottom: 15px ; width: 10%;">
                    <label for="" >CEP</label >
                    <input type="text" name="cep" class="form-control">
                </div>
                <div style="margin-bottom: 15px; width: 30%;">
                    <label for="" >Estado</label >
                    <input type="text" name="estado" class="form-control">
                </div>
                <div style="margin-bottom: 15px; width: 30%;">
                    <label for="" >Cidade</label >
                    <input type="text" name="cidade" class="form-control">
                </div>
                <div style="margin-bottom: 15px">
                    <label for="" >Bairro</label >
                        <input type="text" name="bairro" class="form-control">
                    </div>
                </div>
                <div class="bg-secondary" style="display:flex ; justify-content: space-between; border-radius: 10px; padding:30px ;margin-top: 5px;margin-bottom: 15px"> 
                    <div style="margin-bottom: 25px">
                        <label for="" >Rua</label >
                            <input type="text" name="rua" class="form-control">
                        </div>
                        <div style="margin-bottom: 15px">
                            <label for="" >Número</label >
                                <input type="text" name="numero" class="form-control">
                            </div>
                            <div style="margin-bottom: 15px">
                                <label for="" >Complemento</label >
                                    <input type="text" name="complemento" class="form-control">
                                </div>
                            </div>
                        </div>
    -->
                        
        <h3 class="fs-4" style="text-align: left;margin-top: 30px;">Anamnese</h3>  
        <div class="bg-secondary" style=" border-radius: 10px; padding:30px ;margin-top: 5px;margin-bottom: 15px"> 
            <div class="row g-8">
                <div class="col-sm-12">
                    <input name ="alergia" type="text" class="form-control" placeholder="Alergia" aria-label="Alergia">
                    <!--    

                        <select class="form-control"  name="alergia" id="alergia">
                            <option value = "Outros">Não Informada</option>
                            <option value="Dipirona">Dipirona</option>
                            <option value = "AAS">AAS</option>
                            <option value = "Crustáceos">Crustáceos</option>
                            <option value = "Outros">Outros</option>
                        </select>
                    -->    
                </div>
                
                <div class="col-sm-12" style="margin-top:15px ;">
                    <input name ="doencas_conhecidas" type="text" class="form-control" placeholder="Doencas Conhecidas" aria-label="Doencas Conhecidas">
                </div>
            </div>
        </div>                
       
                
                

        <div class = "mb-3 " style ="text-align: center;" >
            
            <div style="margin-bottom: 25px">
                <button type="submit" class =" form-control btn btn-primary btn-lg  " style="margin-top: 55px;">Cadastrar</button>
                <button type="reset" class = " form-control btn btn-danger btn-lg" style="margin-top: 7.5px;">Limpar Formulario</button>
                <a href= "{% url 'configuracao' %}" class="form-control btn btn-lg btn-secondary " style="margin-top: 7.5px;">Configurações</a>
                <a href="{% url 'Clinica' %}" class="form-control btn btn-lg btn-secondary" style="margin-top: 7.5px;">Sair</a>
            </div>
        </div>


    </form>
</div>
{% endblock conteudo %} 