{% extends "base.html" %}
{% load static %}


{% block conteudo %}
    <div class = container>
        <hr>
        <h1 style="text-align: center;">Adicionar foto de Dentes:  {{ paciente.nome }}</h1>
        <hr>
        <div class = form-control style = "text-align: center; margin: auto";>
            
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                 
              
                 
              
              </form>
              <a href="{% url 'configuracao' %}">Voltar para Configuração</a>
            
              
              <hr>  
              <br>


                    
                   
                  <br>
                  <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.numero.label_tag }}
                        {{ form.numero }}
                    </div>
                    <div class="form-group">
                        {{ form.descricao.label_tag }}
                        {{ form.descricao }}
                    </div>
                    <div class="form-group">
                        {{ form.imagem.label_tag }}
                        {{ form.imagem }}
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            
                <script>
                    document.getElementById('{{ form.imagem.id_for_label }}').addEventListener('change', function() {
                        const fileInput = this;
                        const descricaoInput = document.getElementById('{{ form.descricao.id_for_label }}');
                        const file = fileInput.files[0];
                        if (file) {
                            descricaoInput.value = file.name;
                        }
                    });
                </script>
   


              <table border = 1 class="table table-striped table-hover ">

                <thead>
                    <tbody>
                        <tr>
                            <th>Nome Dente</th>
                            <th>Imagem</th>
                             
                              
                            {% for fotos in fotos_dentes %}   
                            <tr>
                                 
                                <td>{{ fotos.descricao}}</td>
                                 
                                 
                                <td><img style="max-width: 100px;" src= {{fotos.imagem.url}} ></td>
                                  
                            </tr>
                            {% endfor %}    
                        </tr>
                    </tbody>
                </thead>
            </table>    
        </div>
    </div>    
{% endblock conteudo %}
