{% extends "base.html" %}
{% block conteudo %}

<div class="fs-2" style="width: 500px ;margin: auto; padding:auto;">
    <h1 class="m-4 " style="text-align: center;">Edição de Dados</h1>
    <form action="{% url 'editar' id %}" method="POST">
        
        {% csrf_token %}
        
        {% for field in form.visible_fields %}
            <div class="mb-3 form-control"> 
                <label    for="{{field.id_for_label}}">{{ field.label }}</label>
                <div class = "form-control" style = "border-color: white;">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
            
        <br>
        <br>
        <div class = "mb-3 " style ="text-align: center;" >
            <button type="submit" class =" form-label btn btn-primary btn-lg  " style="margin-top: 55px;">Salvar</button>
            <button type="reset" class = " form-label btn btn-danger btn-lg" style="margin-top: 55px;">Limpar Formulario</button>
            <a href = "{% url 'listar_dados' %}" class=" form-label btn btn-success btn-lg " style="margin-top: 55px;">Listar Dados </a>
            <a href= "{% url 'index' %}" class="form-label btn btn-lg btn-secondary " style="margin-top: 55px;">Início</a>
        </div>
            
            
    </form>
</div>
    
{% endblock conteudo %}

{% include 'footer.html' %}

    
