{% extends "base.html" %}
{% load static %}


{% block conteudo %}
    <div class = container>
        <hr>
        <h1 style="text-align: center;">Adicionar foto do paciente:  {{ paciente.nome }}</h1>
        <hr>
        <div class = form-control style = "text-align: center; margin: auto";>

            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="foto">
                <input type="submit" value="Adicionar">
            </form>
            
        </div>
    </div>    
{% endblock conteudo %}
