{% extends "base.html" %}
{% load static %}
{% block conteudo %}

<div class="login-form">
    <form action="{% url 'loginProprietario' %}" method="POST">
        {% csrf_token %}
        <div>
            <label class="fw-bold fs-2">Faça seu Login</label>
        </div>
        <div>
            <label>Username</label>
            <input name="nome_login" type="text" class="form-control" placeholder="Nome de Usuário">
        </div>
        <div>
            <label>Password</label>
            <input name="senha" type="password" class="form-control" placeholder="Senha">
            <p>Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.</p>
        </div>

        <div class="button-group" style="display: flex; justify-content: space-between; gap: 1rem;">
            
            <button type="submit" class="btn" style="background-color: rgb(0, 179, 255)">Entrar</button>
            <button type="button" class="btn" style="background-color: red">Reiniciar Senha</button>
            <a href="{% url 'registroProprietario' %}" class="btn" style="background-color: green">Cadastrar Usuário</a>
            <a href="{% url 'index' %}" class="btn" style="background-color: pink">Entrada Temporária</a>
        </div>
    </form>
</div>

 


{% endblock conteudo %}
{% include 'footer.html' %}
