{% extends "base.html" %}

{% load static %}
{% block conteudo %}

 
    
        
<div>
    <label for=""class = "fw-bold fs-2 text-align">Faça seu Cadastro</label>
    <br>
    <br>
</div>
 
            <form action="{% url 'registroProprietario' %}" method = "POST">
                <div class="mb-3 btn btn-secondary form-control text-white"style="text-align: center;width:100%">
                    {% csrf_token %}
                    {{ form.as_p}}
                </div>
                
                <p>------------------------------------------------------------</p>
                
                
                <div id="" class="form-text text-white"> 
                    <button type="submit" class="btn btn-secondary" style="text-align: center;width:100%">Registrar</button>   
                    <p>Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.</p>   
                </div>
                <div>
                    <a href="{% url 'index' %}" class="btn  btn-secondary " style="text-align: center;width:100%">Sair</a>
                </div>
            </form>
         
        
        {% endblock conteudo %} 


   