{% extends "base.html" %}
{% block conteudo %}
 
<table border = 1 class="table table-striped table-hover ">

    <thead>
        <tbody>
            <tr>
                <td>

                    <div class=" bg-secondary fs-2" style="margin: 20px;margin-top: 10px; text-align: center;border-radius: 10px;">
                        <h1>Paciente</h1>  
                        <h3>Nome:{{ Pacientes.nome }}</h3>
                        <h3>Email: {{ Pacientes.email }}</h3>
                        
                    </div>
                <div style="display:flex;text-align: center;justify-content: space-between;">
                    <div style="display:flex ; justify-content: space-between;margin: 20px; width: 250px;
                            border: 1px solid #ccc;
                            padding: 10px;
                            box-sizing: border-box;
                            margin-right: 10px;">  
                    <div class=" bg-secondary fs-2" style="padding-top: 25%;width: 250px;height:250px; margin-top: 10px; text-align: center;border-radius: 10px;">
                        <h2>Orçamento</h2>
                        
                        <a href="{% url 'criar_orcamento' id %}" class="btn btn-success btn-sm">
                            <i class="bi bi-plus-square-dotted" ></i>    
                        </a>

                        
                    </div>
                    
                </div> 
                <div style="display:flex ; justify-content: space-between;margin: 20px; width: 250px;
                            border: 1px solid #ccc;
                            padding: 10px;
                            box-sizing: border-box;
                            margin-right: 10px;">  
                    <div class=" bg-secondary fs-2" style="padding-top: 25%;width: 250px; height:250px; margin-top: 10px; text-align: center;border-radius: 10px;">
                        <h2>Fotos Tratamento</h2>
                        <a href="{% url 'gallery' Pacientes.id %}" class="btn btn-success btn-sm">
                            <i class="bi bi-plus-square-dotted"></i>
                        </a>
                        <a href="{% url 'fotos_tratamento' Pacientes.id %}" class="btn btn-danger btn-sm">
                            <i class="bi bi-wallet"></i>
                        </a>
                    </div>
                </div>
                
                <div style="display:flex ; justify-content: space-between;margin: 20px; width: 250px;
                            border: 1px solid #ccc;
                            padding: 10px;
                            box-sizing: border-box;
                            margin-right: 10px;">  
                    <div class=" bg-secondary fs-2" style="padding-top: 25%;width: 250px; height:250px;margin-top: 10px; text-align: center;border-radius: 10px;">
                        <h2>Agendamento</h2>
                        <a href="{% url 'agendar_consulta' Pacientes.id %}" class="btn btn-danger btn-sm">
                            <i class="bi bi-wallet"></i>
                        </a>
                    </div>
                </div>

            <div style="display:flex ; justify-content: space-between;margin: 20px; width: 250px;
                border: 1px solid #ccc;
                padding: 10px;
                box-sizing: border-box;
                margin-right: 10px;">  
                <div class=" bg-secondary fs-2" style="padding-top: 25%; width: 250px; height:250px;margin-top: 10px; text-align: center;border-radius: 10px;">
                    <h2>Relatório Financeiro</h2>
                    <a href="" class="btn btn-success btn-sm">
                        <i class="bi bi-currency-dollar"></i>
                    </a>
                </div>
            </div>

            </div>    
            </td>
                
            </tr>
        </tbody>
    </thead>
</table>   
<div style="margin-bottom: 25px">
    <button type="submit" class =" form-control btn btn-primary btn-lg  " style="margin-top: 55px;">Cadastrar</button>
    <button type="reset" class = " form-control btn btn-danger btn-lg" style="margin-top: 7.5px;">Limpar Formulario</button>
    <a href= "{% url 'configuracao' %}" class="form-control btn btn-lg btn-secondary " style="margin-top: 7.5px;">Configurações</a>
    <a href="{% url 'Clinica' %}" class="form-control btn btn-lg btn-secondary" style="margin-top: 7.5px;">Sair</a>
</div>
{% endblock conteudo %} 
